/*подключение шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

/* START задание общих стилей*/
* {
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}
body {
    width: 100%;
    margin: 0 auto;
}
.container-background-color {
    background: #9ecce4;
    padding: 15px 10px 35px 10px;
}
/* END задание общих стилей*/



/* START header*/
.header {
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #56849a;
    padding: 15px 10px 10px;
}
.header__logo {
    width: 17%;
    padding: 0 20px;
}
.header__company-name {
    width: 59%;
    padding-left: 15px;
    line-height: 38px;
}
.company-name__name {
    font-weight: bold;
    color: #fff;
    font-size: 50px;
    margin: 0;
}
.company-name__description {
    color: #fff;
    font-size: 30px;
    margin: 0;
}
.header__contacts {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 24%;
    min-height: 77px;
}
.header__contacts a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.header__contacts a:hover {
    color: #35302a;
}
/* END header*/



/* START menu*/
.menu {
    display: flex;
    background: #205064;
}
.menu__link {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding: 5px 15px;
    margin-left: 10px;
    height: 35px;
    line-height: 20px;
}
.menu__link:hover, .menu__link-active {
    color: #35302a;
    background: #29c4e8;
}
/* END menu*/



/* START main*/
.main {
    margin-top: 15px;
}
.main__row {
    display: flex;
    margin-top: 15px;
}

            /* ROW #1 */
.main__menu {
    width: 18%;
    display: flex;
    flex-direction: column;
    background: #56849a;
    margin-right: 15px;
}
.main__menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
}
.main__menu-link:hover, .main__menu-link-active {
    color: #35302a;
    background: #29c4e8;
}
.main__container-bg {
    display: flex;
    justify-content: flex-end;
    background: url("img/main__about-bg.jpg") no-repeat;
    background-size: cover;
    min-height: 458px;
    width: 82%;
    padding: 10px;
}
.main__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 42%;
    color: #fff;
    background: rgba(1, 40, 52, 0.6);
    padding: 20px 10px;
}
.about__heading {
    font-size: 35px;
    margin: 0;
}
.about__description {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}
.about__button {
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    background: #27bde0;
    color: #35302a;
    margin-top: 35px;
}
.about__button:hover {
    background: #56849a;
    color: #fff;
}

            /* ROW #2 */
.main__info {
    width: 50%;
    text-decoration: none;
}
.main__info_indent {
    margin-right: 15px;
}
.info__img {
    width: 100%;
}
.info__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #29c4e8;
    margin: -5px 0 0;
    height: 60px;
    font-size: 30px;
    color: #35302a;
}
.main__info:hover .info__heading {
    background: #56849a;
    color: #fff;
}

            /* ROW #2 */
.main__team {
    width: 100%;
    text-decoration: none;
}
.main__team:hover .team__heading {
    background: #56849a;
    color: #fff;
}
.main__team:hover .team__heading-container {
    background: #29c4e8;
}
.team__heading-container {
    padding: 10px;
    background: #56849a;
}
.team__heading {
    background: #29c4e8;
    margin: 0;
    padding: 10px;
    width: 215px;
    color: #35302a;
    font-size: 29px;
}
.team__img {
    width: 100%;
}
/* END main*/




/* START footer*/
.footer {
    display: flex;
    align-items: center;
    background: #1d414f;
    height: 90px;
    padding: 0 20px;
}
.footer__copyright {
    font-size: 15px;
    color: #fff;
    width: 50%;
}
.footer__developer {
    text-align: right;
    width: 50%;
}
.footer__developer-link {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
.footer__developer-link:hover {
    color: #27bde0;
}
/* END footer*/